.orders-page {
  padding: 60px 8%;
  background: #f9fafb;
  min-height: 100vh;
}

.orders-title {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}

.order-card {
  background: rgb(223, 211, 211);
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.order-card:hover {
  transform: translateY(-5px);
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 500;
}

.order-items {
  margin-top: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.order-total {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}
