.hero {
  height: 520px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU6Is8iQiprvO8aTYA-6aofu66v4F-k18cVQ&s");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 100px;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 25px;
}

.hero-btn {
  padding: 12px 25px;
  font-size: 16px;
  background: #ffd814;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.hero-btn:hover {
  background: #f7ca00;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    height: 350px;
    padding-left: 30px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }
}
