.container {
  width: 100vw;
  height: 100vh;
  background-color: #0f172a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.logo {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.5rem;
}

.subtext {
  font-size: 1.1rem;
  opacity: 0.8;
}
